h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

/* robot
	head
		leftEye
		rightEye
	upperBody
		leftArm
		torso
		rightArm
	lowerBody
		leftLeg
		rightLeg */

.head, 
.leftArm, 
.torso, 
.rightArm, 
.leftLeg, 
.rightLeg {
	background-color: #5f93e8; 
}

.robot {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.head {
	width: 185px;
	height: 140px;
	border-radius: 50em 50em 0px 0px;
	margin: 10px;
}

.leftEye, .rightEye {
	width: 18px;
	height: 18px;
	background-color: white;
	border-radius: 50%;
}

.leftEye {
	position: relative;
	top: 95px;
	left: 37px;
}

.rightEye {
	position: relative;
	top: 78px;
	left: 128px;
}

.head:hover {
    transition: 1s ease-in-out;
}

.left_leg:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}







